<style>
    table, th, td {
        border: 1px solid black;
      }
    </style>

<title>Products</title>
<H1>Products</H1>

<table>
    <tr>
        <th> Product ID </th>
        <th> Description </th>
        <th> Store Id </th>
        <th> Location </th>
        <th> Price </th>
        <th> Actions</th>
    </tr>
    <% product.forEach((data) => { %>
        <tr>
            <!-- Database from the MySQL product-->
            <td> <%= data.pid %> </td>
            <td> <%= data.productdesc %> </td>
            <td> <%= data.sid %> </td>
            <td> <%= data.location %> </td>
            <td> <%= data.Price %> </td>
            <td> <a href="/products/delete/:pid">Delete</a></td>
        </tr>
    <% }); %>
</table>
<br>

<a href ="/">Home</a>
